<app-product-item class="sidebar" [product]="product" (releaseProduct)="releaseProduct($event)" *ngFor="let product of products"></app-product-item>


<form style="margin-top:auto;" #product_form = "ngForm" (ngSubmit)="onFormSubmit(product_form.value)">
    <div class="row">
        <div class="col s12">
            <input placeholder="Product URL" name="product_url" type="text" class="validate" ngModel>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>